body{
            background:linear-gradient(to left,#d380b7,#2a0f53,#5d009f,#abddf2);
            color:#fff;
            
        }
         .hero {
            height: 40vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-top: 20px; 
        }

        .hero h1 {
            font-size: 3rem;
        }

        .hero p {
            font-size: 1.5rem;
        }
.album-section {
     padding: 50px 0;
     } 
     .card {
         border-radius: 15px;
         }
          .artist-img {
             height: 150px; 
             object-fit: cover; width: 30%; 
            } 
            .card{ 
                height:50%;
            }
.featured-round {
    width: 25vw;           
    height: 25vw; 
    width: 350px;
    height: 300px;
    border-radius: 70%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.navbar {
    background-color: #111;
    padding: 12px 20px;
}

.nav-links {
    list-style: none;
    display: flex;              
    align-items: center;        
    gap: 25px;                 
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a i {
    margin-right: 6px;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 6px;
    border-radius: 4px;
    border: none;
}

.search-box button {
    padding: 6px 10px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.music-item { 
    display: flex; 
    align-items: center; 
    margin-bottom: 15px; 
    padding: 5px; 
    border-bottom: 1px solid #ddd;
}
.music-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}
.music-info {
    display: flex;
    flex-direction: column;
}
audio {
    margin-top: 5px;
    width: 200px;
}
#home.song-card {
    flex: 0 0 25% !important;    /* 4 per row */
    max-width: 25% !important;   /* prevent shrinking */
}

/* Make images inside cards fit */
#home .song-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* Phones only: 2 per row */
@media screen and (max-width: 600px) {
    #home.song-card {
        flex: 0 0 50% !important;   /* 2 per row on phone */
        max-width: 50% !important;
    }
}
@media screen and (max-width: 600px) {
    .featured-round {
        width: 20vw;       /* smaller on phone */
        height: 40vw;
        max-width: 200px;  /* prevent too big */
        max-height: 200px;
    }
}